.buttonContainer {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.button {
    width: fit-content;
    height: fit-content;
    border-color: transparent;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 20px;
    padding: 6px;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
}