.slideShowContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
}

.pic {
    width: 100%;
    box-shadow: 0px 0px 15px;
}

.imgContainer {
    width: 80%;
}

.arrowContainer {
    width: fit-content;
    height: 50%;
    margin: auto 0;
}

.button {
    background-color: transparent;
    border-color: transparent;
}

.arrowLeft {
    font-size: 30px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.arrowRight {
    font-size: 30px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.arrowLeft:hover {
    transform: translateX(-10px);   
}

.arrowRight:hover {
    transform: translateX(10px);   
}